@import '/src/styles/theme.scss';

.navContainer {
    @include flex-column();
    width: 20%;
    min-width: 240px;
}

.subNavContainer {
    @include flex-column();
    width: 100%;
    gap: 10px;
}

.filterButton {
    @include button-primary-outline(10px);
    @include flex-center();
    transition: 0.2s all;
}

.deleteButton, .cancelButton {
    @include button-danger-outline(10px);
    @include flex-center();
    transition: 0.2s all;
}