.easeCome {
    animation: ease-come 0.4s ease-out;

    @keyframes ease-come {
        from {
            opacity: 0;
        } to {
            opacity: 1;
        }
    }
}

.easeGo {
    animation: ease-go 0.2s ease-out forwards;

    @keyframes ease-go {
        from {
            opacity: 1;
        } to {
            opacity: 0;
        }
    }
}

.growScale {
    animation: grow-scale 0.2s ease-out;

    @keyframes grow-scale {
        from {
            scale: 0;
        } to {
            scale: 1;
        }
    }
}

.fadeInRight {
    animation: fade-in-right 1.3s ease;

    @keyframes fade-in-right {
        from {
            opacity: 0;
            transform: translate(200%, 0);
        } to {
            opacity: 1;
            transform: translate(0, 0);
        }
    }
}

.selectedAdmin:hover {
    cursor: pointer;
    background-color: #ECECEC;
    
    > figure {
        transform: translate(0, -5%);
    }
}

.filterOptions, .filterOptionsBlack, .tran2 {
    transition: 0.2s all;
}

.tran4 {
    transition: 0.4s all ease;
}

.tran6 {
    transition: 0.6s all ease;
}

.filterOptions:hover {
    background-color: #212529;
    color: #FFFFFF;   
}

.filterOptionsBlack:hover {
    background-color: #FFFFFF;   
    color: #212529;
}

.editAdminImage {
    width: 16px;
    height: 16px;
    position: absolute;
    bottom: 0;
    left: 33%;
    transform: translate(-33%, 140%);
}

.deleteAdminImage {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 0;
    right: 33%;
    transform: translate(33%, 127%);
}