@import '/src/styles/theme.scss';

.registerInformation {
  width: 35%;
  max-width: 550px;
  max-height: 100%;
  padding: 2rem 1.5rem .5rem;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  color: $color-white;
  display: flex;
  flex-direction: column;

  span {
    margin-top: auto;

    a {
      text-decoration: underline;
    }
  }

  .stepBack {
    margin-top: 2rem;
    @include button-primary(.5rem);

    &:hover {
      border: 1px solid $color-white;
      color: $color-white;
    }
  }

  @media (max-width: $mobile) {
    width: 100%;
    max-width: 100%;
    padding: 2rem 1rem;

    span {
      margin-top: 1.5rem;
    }
  }
}

.containerClubProvider {
  display: flex;
  flex-wrap: wrap;
  min-height: calc(100vh - 71px);

  .registerInformation {
    background-image: none;
    background-color: $color-primary;
  }
  
  .containerForm {
    width: 65%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 1rem;
    
    form, section {
      &:not(.stepsContainer) {
        margin: auto;
      }
    }

    .stepsContainer {
      width: 100%;

      
      .clubRegisterSteps {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0;

        max-width: 600px;
        margin: auto;
    
        .registerStep, .lastStep {
          @include step-progress()
        }

        .registerStepDone, .lastStepDone {
          @include step-progress-completed()
        }

        .lastStep {
          width: 50px;
        }
      }
    }
  }
  
  @media (max-width: $mobile) {
    flex-direction: column;
    height: auto;

    .containerForm {
      width: 100%;

      .stepsContainer {
        margin: 1rem 0 3rem;
      }
    }
  }
}

.containerSubscriber {
  width: 100%;
  display: flex;
  align-items: stretch;
  min-height: calc(100vh - 71px);
  
  .containerForm {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }

  @media (max-width: $mobile) {
    flex-direction: column;
    height: auto;

    .containerForm {
      width: 100%;
    }
  }
}
