/* ===== Scrollbar CSS ===== */
  html, body {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: 'Golos Text', sans-serif;
  }

  * {
    scrollbar-width: auto;
    scrollbar-color: #0084ff #ffffff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #0084ff;
    border-radius: 10px;
    border: 3px double #ffffff;
  }
  
  a {
    text-decoration: none !important;
    cursor: pointer;
    display: block;
    color: inherit;
  }

  button {
    cursor: pointer;
  }

  input:focus-visible {
    box-shadow: none !important;
    outline: none;
  }

  button:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  h1, h2, h3 {
    margin-bottom: 1rem !important;
  }
