@import '/src/styles/theme.scss';

.form {
  fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  .cardCol {
    width: 49%;
    display: flex;
    flex-direction: column;

    input {
      @include input-field-primary()
    }
  }
}