@mixin button-primary($padding) {
  width: 100%;
  background-color: $color-primary;
  color: $color-white;
  font-weight: bold;
  padding: $padding;
  border: 1px solid $color-primary;
  border-radius: 5px;
  transition: .3s ease-out;

  &:hover {
    color: $color-primary;
    background-color: transparent;
  }
}

@mixin button-secondary($padding) {
  width: 100%;
  background-color: $color-secondary;
  color: $color-white;
  font-weight: bold;
  padding: $padding;
  border: 1px solid $color-secondary;
  border-radius: 5px;
  transition: .3s ease-out;

  &:hover {
    color: $color-secondary;
    background-color: transparent;
  }
}

@mixin button-secondary-outline($padding) {
  width: 100%;
  background-color: transparent;
  color: $color-secondary;
  font-weight: bold;
  padding: $padding;
  border: 1px solid $color-secondary;
  border-radius: 5px;
  transition: .3s ease-out;
  
  &:hover {
    color: $color-white;
    background-color: $color-secondary;
  }
}

@mixin button-danger($padding) {
  width: 100%;
  background-color: $color-danger;
  color: $color-white;
  font-weight: bold;
  padding: $padding;
  border: 1px solid $color-danger;
  border-radius: 5px;
  transition: .3s ease-out;

  &:hover {
    color: $color-danger;
    background-color: transparent;
  }
}

@mixin button-danger-outline($padding) {
  width: 100%;
  background-color: transparent;
  color: $color-danger;
  font-weight: bold;
  padding: $padding;
  border: 1px solid $color-danger;
  border-radius: 5px;
  transition: .3s ease-out;
  
  &:hover {
    color: $color-white;
    background-color: $color-danger;
  }
}