@import '/src/styles/theme.scss';

.pageBuilderPage {
  @include flex-between;
  align-items: stretch;

  position: fixed; 
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background-color: $color-white;

  .builderManager {
    max-width: 50%;
    flex: 1;
  }

  .outputPageBuilder {
    width: 50%;

    > div {
      border: 1px solid $color-black;
      padding: 1rem;
    }
  }
}

.DropCursor {
  background: black;
  height: 10px;
  width: 100px;
  cursor: pointer;
}
