.dashboardMenuToggleMobile {
  display: none;
  margin-bottom: 1rem;
  border: none !important;
  @media (max-width: 992px) {
    display: block;
  }

  .accordion-item {
    border: 0 !important;
  }
}

.dashboardMenuToggleDesktop {
  display: block;
  @media (max-width: 992px) {
    display: none;
  }
}