@import '/src/styles/theme.scss';

.mySignaturesCard {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem 0;

  
  button {
    @include button-secondary-outline(10px);
  }
  
  .withoutSignatures {
    width: 100%;
    
    p {
      margin-bottom: 1rem;
    }
  }

  .signatures {
    width: 49%;
    padding: 0 .5rem;
    display: flex;
    flex-direction: column;
    
    h5, p {
      margin-bottom: .5rem;
    }

    h5 {
      color: $color-secondary;
      font-size: 1rem;
    }

    h6 {
      font-size: .8rem;
    }

    a {
      color: $color-secondary;
      margin-top: .5rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.mySignatureDetails {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: .5rem;
  
  .sliderCards {
    .plansCard {
      width: 350px;
      min-width: 350px;
      position: relative;
      color: $color-primary;
      display: flex;
      flex-direction: column;
      justify-content: stretch;

      p, h5 {
        font-size: 1rem;
        margin-bottom: .5rem
      }
      
      .cancelButton {
        @include button-danger(5px);
        width: 80px;
        position: absolute;  
        top: 12px;
        right: 10px;
      }
      
      > div {
        display: flex;
        flex-direction: column;
        flex: 1;

        details {
          margin-bottom: 1.5rem;
        }

        a {
          margin-top: auto;
  
          .buttonLink {
            @include button-primary(10px);
          }
        }
      }
    }
  }
}

@media (max-width: $mobile-small) {
  .mySignaturesCard {
    .signatures {
      width: 100%;
    }
  }

  .mySignatureDetails {
    .sliderCards {
      .plansCard {
        max-width: 100%;
        min-width: 300px;
      }
    }
  }
}

@media (max-width: $mobile) {
}