@import '/src/styles/theme.scss';

.globalSection {
    @include flex-center;
    align-items: flex-start;

    @media (max-width: $clubdashboard-breakpoint-1) {
        @include flex-column;
        width: 100%;
    }
}

.leftSection {
    border: 1px solid $color-gray-ultra-light-2;
    border-radius: 10px;
    padding: 20px;
}

.formWrapper {
    @include flex-column;
    gap: 20px;

    > div {
        @include flex-column;
        transition: 0.2s all;
        height: 20px;
        overflow: hidden;

        &:hover {
            overflow: visible;
        }
    }

    @media (max-width: $clubdashboard-breakpoint-1) {
        flex-direction: row;
    }

}

.rightSection {
    @include flex-center;

    > div {
        margin-left: 40px;

        > p {
            text-align: center;
            margin-bottom: 15px
        }
    }

    @media (max-width: $clubdashboard-breakpoint-1) {
        margin-top: 40px;
        gap: 40px;
        align-items: flex-start;
        
        > div {
            margin-left: 0;
        }
    }      
    
    @media (max-width: $clubdashboard-breakpoint-4) {
        @include flex-column;
    }   
}

.darkButton {
    @include dark-button;
}

.reverseDarkButton {
    @include reverse-dark-button;
}